# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
notes.md

# IntelliJ / VSCode / Xcode
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.lock

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Firebase / FlutterFire
firebase_options.dart
google-services.json

# Android
android/.gradle/
android/captures/
android/app/*.keystore
android/app/*.jks
android/local.properties
android/key.properties

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake

# Web
web/firebase-messaging-sw.js

notes.md

*.env

# Freezed
*.g.dart
*.freezed.dart

**/.kotlin/sessions/
